*{

  font-size: 14px !important;
  font-family: sans-serif;
  box-sizing: border-box;

}

html{

  font-size: 14px;
  font-family: sans-serif;
  border: solid black 5px;

}

header {
    display: block;
    text-align: center;
    background-color: yellow;
    height: 120px;
    border: solid black 5px;
}

.header{

  font-size: 46px;
  background-color: magenta;

}

nav {

 display: inline-block;
 width: 15%;
 height: 310px;
 background-color: blue;
 border: solid black 5px;


}

.navigation{

  font-size: 12px;
  background-color: blue;
}

section {

 display: inline-block;
 height: auto;
 width: 60%;
 background-color: red;
 border: solid black 5px;

}

.content{

  font-size: 14px;
}

aside {

 display: inline-block;
 width: 20%;
 height: 310px;
 background-color: teal;
 border: solid black 5px;

}

.sidebar{

  font-size: 10px;
  background-color: magenta;
}

footer {

 width: 100%;
 display: block;
 height: 80px;
 background-color: magenta;
 text-align: center;
 border: solid black 5px;

}

.footer{

  font-size: 10px;
  background-color: magenta;
}

section > footer {

 height: 50px;
 background-color: pink;
 border: solid black 5px;

}

section > header {

 height: 50px;
 background-color: crimson;
 border: solid black 5px;

}

section > article {

 height: 200px;
 background-color: orange;
 border: solid black 5px;

}