*{
  box-sizing: border-box;
}

.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

.col {
  display: inline-block;
  margin: 1% 0 1% 1.6%;
  vertical-align: top;
}

.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

.span_6_of_6 {
  width: 100%;
}

.span_5_of_6 {
    width: 83.06%;
}

.span_4_of_6 {
    width: 66.13%;
}

.span_3_of_6 {
    width: 49.2%;
}

.span_2_of_6 {
    width: 31.00%;
}

.span_1_of_6 {
    width: 15.33%;
}

div.text > div.col:nth-child(1) {
    padding-left: 25px;
    font-weight: bold;
}

div.text > div.col:nth-child(2) {
    padding-right: 200px;
    padding-left: 50px;
    line-height: 22px;
}

img{
  padding-bottom: 20px;
  max-width: 100%;
}

.mouseover{
  background-color: rgba(255,255,255,0.7);
  position: absolute;
  opacity: 0;
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.labeled-image{

  position: relative;

}

.title{

  color: red;
  text-decoration: none;

}

div.labeled-image:hover > .mouseover{
  opacity: 1;
}

@media only screen and (max-width: 375px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}

@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 100%; }
}

@media only screen and (max-width: 768px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_6, .span_2_of_6, .span_3_of_6, .span_4_of_6, .span_5_of_6, .span_6_of_6 { width: 46%; }
}